/*Cart */
.cart{
    position: relative;
    cursor: pointer;
    text-align: center;
    color: #c7319d;
    padding-right: 2rem;
    font-size: 2rem;

}

.qty-display {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: white;
    border-radius: 50%;
    font-size: 12px;
    position: absolute;
    text-align: center;
    line-height: 17px;
}

/*CartItem */
.grillaProducts{
    width: 100vw;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 12.5rem 12.5rem 12.5rem;
    grid-template-rows: 9.375rem 9.375rem;
}
/*CartItem */